name: Pull-request - Build Lib
 
on: 
  pull_request:
    branches-ignore:
      - master
  push:
    branches-ignore:
      - master

jobs:
  build:
 
    runs-on: windows-latest
 
    steps:
    - name: Checkout Code
      uses: actions/checkout@v1
     
    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1

    - name: Setup NuGet
      uses: NuGet/setup-nuget@v2
      with:
          nuget-api-key: ${{secrets.NUGET_API_KEY}}
          nuget-version: 'latest'
     
    - name: Restore NuGet Packages
      run: nuget restore Conspiratio.Lib.sln
 
    - name: Build
      run: msbuild Conspiratio.Lib.sln /p:Configuration=Release

    - name: Pack
      run: msbuild Conspiratio.Lib.sln /p:Configuration=Release -t:pack

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Conspiratio.Lib
        path: |
          Conspiratio.Lib\bin\Release\netstandard2.0\*
          Conspiratio.Lib\bin\Release\*.nupkg