name: Pull-request - Build Lib
 
on: 
  pull_request:
    branches-ignore:
      - master
  push:
    branches-ignore:
      - master

jobs:
  build:
 
    runs-on: windows-latest
 
    steps:
    - name: Checkout Code
      uses: actions/checkout@v1
     
    - name: Setup MSBuild Path
      uses: warrenbuckley/Setup-MSBuild@v1
       
    - name: Setup NuGet
      uses: NuGet/setup-nuget@v1.0.2
      with:
          nuget-api-key: ${{secrets.NUGET_API_KEY}}
          nuget-version: 'latest'
     
    - name: Restore NuGet Packages
      run: nuget restore Conspiratio.Lib.sln
 
    - name: Build
      run: msbuild Conspiratio.Lib.sln /p:Configuration=Release

    - name: nuget Pack
      run: nuget pack Conspiratio.Lib\Conspiratio.Lib.csproj

    - name: Upload Artifacts (DLL)
      uses: actions/upload-artifact@v2
      with:
        name: Conspiratio.Lib DLL
        path: Conspiratio.Lib\bin\Release\Conspiratio.Lib.dll

    - name: Upload Artifacts (nuget)
      uses: actions/upload-artifact@v2
      with:
        name: Conspiratio.Lib nuget package
        path: Conspiratio.Lib\Conspiratio.Lib*.nupkg